.header {
  width: 100%;
  height: 4rem;
  background: transparent linear-gradient(272deg, #AE276F 0%, #5F1478 100%) 0% 0% no-repeat padding-box;

  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    margin-left: 1.5rem;
  }
}
